<a href="https://colab.research.google.com/github/TaNuNian/Basicpython_ESANTH/blob/main/Live2_NP_MPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

#NUMPY


<img src = 'https://drive.google.com/uc?id=1j_ch3SxN0idRj9Fv6ye8NTeC8ZwweSxT' alt = 'image test' width ='500px'>

1. จงสร้างอาเรย์ที่ชื่อว่า random_list (1 มิติ) เพื่อสุ่มสร้างข้อมูลยอดขายสินค้าในปี 2022 ของจังหวัดเชียงใหม่ สงขลา ขอนแก่น และกาญจนบุรี ในแต่ละเดือน ตั้งแต่เดือนมกราคม ถึง เดือนธันวาคม โดยที่ข้อมูลมีค่าระหว่าง 'วันที่ของวันเกิดของผู้เรียน' กับ '200'

> แปลโจทย์ก่อนว่ามีทั้งหมดกี่ข้อมูล ??

2. สมมุติว่า ข้อมูล 4 ตัวแรก คือข้อมูลในเดือนมกราคมของจังหวัดเชียงใหม่ สงขลา ขอนแก่น และกาญจนบุรี ตามลำดับ ข้อมูล 4 ตัวถัดไป คือข้อมูลในเดือนกุมภาพันธ์ของจังหวัดเชียงใหม่ สงขลา ขอนแก่น และกาญจนบุรี ตามลำดับ ... จงสร้างอาเรย์ที่ชื่อว่า random_table (2 มิติ)  เพื่อเก็บข้อมูลจากข้อ 1. ให้มีจำนวนแถวทั้งหมด 12 แถว

3. จงหาว่าในจังหวัดเชียงใหม่ สงขลา ขอนแก่น และกาญจนบุรี มียอดขายสูงสุดอยู่ที่เดือนละเท่าไร และเก็บไว้ในตัวแปร Max_Province

4. จงหาว่าในแต่ละเดือน มียอดขายสูงสุดอยู่ที่เท่าไร และเก็บไว้ในตัวแปร Max_Month

5. จงหาว่ามียอดขายสูงสุดต่อเดือนอยู่ที่เท่าไร และเก็บไว้ในตัวแปร Max_All

6. จงกรองข้อมูลยอดขายที่มากว่า 100 ว่ามียอดขายเป็นเท่าไรบ้าง และเก็บไว้ในตัวแปร morethan_100 และนับว่ามีกี่ข้อมูล

In [ ]:
import numpy as np
import random

In [ ]:
#1
random_list = np.array(random.sample(range(13, 200), 48))
random_list

array([171, 139,  94, 157, 192, 162,  24,  80, 173, 147, 122,  28, 169,
        47,  57,  97, 107,  25, 146, 116, 144, 188,  50, 189, 198, 136,
       187,  42, 176,  37, 115, 121,  63, 135, 120, 159,  14,  59,  21,
       119,  69, 182, 164, 131,  92, 104, 195, 183])

In [ ]:
#2
random_table = random_list.reshape(12,-1)
random_table

In [ ]:
#3
Max_Province = random_table.max(axis = 0)
Max_Province

In [ ]:
#4
Max_Month = random_table.max(axis = 1)
Max_Month

In [ ]:
#5
Max_All = random_table.max()
Max_All

In [ ]:
#6
morethan_100 = random_table[random_table > 100]
morethan_100

In [ ]:
#6
morethan_100.shape

#MATPLOTLIB

1. จงวาดกราฟเพื่อเปรียบเที่ยบ ยอดขายแต่ละเดือนของ

 >1.1 เชียงใหม่ และ สงขลา

 >1.2 สงขลา และ ขอนแก่น

 >1.3 ขอแก่น และ กาญจนบุรี

2. จงวาดกราฟจากข้อ 1.1, 1.2, และ 1.3 ไว้ใน figure เดียวกัน

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x = np.linspace(1, 12, 12)
x

In [ ]:
y1 = random_table[:,0]
y1

In [ ]:
y2 = random_table[:,1]
y2

In [ ]:
y3 = random_table[:,2]
y3

In [ ]:
y4 = random_table[:,3]
y4

In [ ]:
#1.1
fig = plt.figure(figsize=(4,3), facecolor='lightblue', edgecolor='black', linewidth = 4)
ax = fig.add_axes([0,0,1,1])
ax1 = ax.plot(x,y1)
ax2 = ax.plot(x,y2)

ax.set_title("Chiangmai VS. Songkhla", fontsize = 10, color = "red")
ax.set_xlabel('Month')
ax.set_ylabel('Revenue (Baht)')

#plt.xlim(1,31)
#plt.ylim(35,38)

plt.xticks(x,labels=["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"])

plt.legend(["Chiangmai", "Songkhla"])

plt.show()

In [ ]:
#1.2
fig = plt.figure(figsize=(4,3), facecolor='lightblue', edgecolor='black', linewidth = 4)
ax = fig.add_axes([0,0,1,1])
ax1 = ax.plot(x,y2)
ax2 = ax.plot(x,y3)

ax.set_title("Songkhla VS. Khon Kaen", fontsize = 10, color = "red")
ax.set_xlabel('Month')
ax.set_ylabel('Revenue (Baht)')

#plt.xlim(1,31)
#plt.ylim(35,38)

plt.xticks(x,labels=["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"])

plt.legend(["Songkhla", "Khon Kaen"])

plt.show()

In [ ]:
#1.3
fig = plt.figure(figsize=(4,3), facecolor='lightblue', edgecolor='black', linewidth = 4)
ax = fig.add_axes([0,0,1,1])
ax1 = ax.plot(x,y3)
ax2 = ax.plot(x,y4)

ax.set_title("Khon Kaen VS. Kanchanaburi", fontsize = 10, color = "red")
ax.set_xlabel('Month')
ax.set_ylabel('Revenue (Baht)')

#plt.xlim(1,31)
#plt.ylim(35,38)

plt.xticks(x,labels=["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"])

plt.legend(["Khon Kaen", "Kanchanaburi"])

plt.show()

In [ ]:
#2
fig, axes = plt.subplots(1,3, figsize=(15, 4), sharey=True)

axes[0].plot(x,y1)
axes[0].plot(x,y2)
axes[0].set_title("Chiangmai VS. Songkhla", fontsize = 8, color = "red")
axes[0].legend(["Chiangmai", "Songkhla"])

axes[1].plot(x,y2)
axes[1].plot(x,y3)
axes[1].set_title("Songkhla VS. Khon Kaen", fontsize = 8, color = "red")
axes[1].legend(["Songkhla", "Khon Kaen"])

axes[2].plot(x,y3)
axes[2].plot(x,y4)
axes[2].set_title("Khon Kaen VS. Kanchanaburi", fontsize = 8, color = "red")
axes[2].legend(["Khon Kaen", "Kanchanaburi"])

plt.show()